@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,700&display=swap');

.navbar {
  height: 105px;
  background: url("./Banner.jpg");
  padding: 20px, 20px, 20px, 20px;
}

.block {
  display: inline-block;
}

.Navbar-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-size: 72px;
  line-height: 25px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: #B2D8D8;
  text-shadow: inset 5px 3px #008080;
}

.Navbar-title:hover {
  color: white;
}

.navbar-links{
  float: right;
  margin-top: 7px;
  margin-right: 20px;
  top: 50%;
}

span {
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
}

.search {
  width: 38vw;
  line-height: 71px;
  background: #B2D8D8;
  border-radius: 25px;
  font-size: 24px;
  padding: 1px;
  padding-left: 5%;
}

.searchbar {
  display: center;
  padding-left: 5%;
  margin-top: 7px;
}

.bttn {
  height: 78px;
  background: #B2D8D8;
  border-radius: 25px;
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  text-decoration: none;
  color: #006666;
  border: 2px solid #004C4C;
}

.home {
  margin-left: 35px;
  margin-right: 35px;
}

.icon {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 75px;
  float: left;
  background-color: #B2D8D8;
  border-radius: 50%;
  text-decoration-line: none;
  outline: 2px solid #004C4C;

  color: #006666;
}

.bttn:hover, .icon:hover {
  background: #008080;
  color: white;
}

.welcome {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 10vh;

  color: #008080;

  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.welcome-2, .discus-title{
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 8vh;

  text-align: center;
  margin-right: 10%;

  color: #008080;
}

.discus-bttn{
  float: right;
}

.icon-img {
  height: 75px;
  width: 75px;
  float: left;
  border-radius: 50%;
  text-decoration-line: none;
  outline: 2px solid #004C4C;
}

.icon-img-small {
  height: 25px;
  width: 25px;
  float: left;
  border-radius: 50%;
  text-decoration-line: none;
  outline: 1px solid #004C4C;
  margin-right: 1%;
}

.icon-img-profile {
  height: 25px;
  width: 25px;
  /* float: right;   */
  border-radius: 50%;
  text-decoration-line: none;
  outline: 1px solid #004C4C;
  margin-right: 1%;

}

.p-icon-img {
  margin-right: -10%;
}

.discus-title .icon{
  margin-left: -10%;;
}

li {
  width: auto;
  float: left;
  display: block
}

.discus-page {
  margin-left: -10%;
  margin-right: -10%;
}

.small-icon {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-right: 1%;
  background-color: #008080;
  border-radius: 50%;
  text-decoration-line: none;
  outline: 2px solid #004C4C;

  color: white;
}

.small-icon:hover {
  background: #66B2B2;
  color: white;
}

.board {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 100px;
  text-align: center;
  color: #008080;
}

h2.board, h4.board{
  text-align: left;
  margin-left: 2%;
}

.profile-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  margin-left: 3%;
  text-decoration-line: underline;
  border: 2px #004C4C;
  color: #206A73;
}

.title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  text-decoration-line: underline;
  border: 2px #004C4C;
  color: #206A73;
}

.title:hover {
  color: #008080;
}

.txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 250;
  font-size: 20px;
  line-height: 25px;

  color: #004C4C;
}

.bttn2 {
  background: #008080;
  text-decoration: none;
  color: white;
  font-size: 24px;
  border-radius: 12px;
  border: 2px solid #004C4C
}

.bttn2:hover {
  background: #B2D8D8;
  color: #004C4C;
  border: 2px solid #004C4C
}

.bttn2:focus {
  background: #66B2B2;
  color: #004C4C;
  border: 2px solid #004C4C
}

.form-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  color: #004C4C;
}

.form-title2 {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 25px;
  margin-top: 4vh;
  margin-left: 26vw;

  display: flex;
  align-items: center;

  color: #008080;
}

li {
  list-style-type: none;
}

.outside {
  padding: 1vh 3.5vw 2vh 3.5vw;
  background: #66B2B2D8;
  border-radius: 25px;
}

.inside {
  padding: 2.5vh 3.5vw 2.5vh 3.5vw;
  background: #B2D8D8;
  border-radius: 25px;
}

.form {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75vw;
  line-height: 1.5vw;
  text-align: center;
  color: #206A73;
}

.label {
  font-family: 'Quantico', sans-serif;
  width: 350px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;

  color: #004C4C;
  display: inline-block;
}

div.col-sm-10.signup-input {
  padding-left: 25px;
  width: 550px;
}

.input {
  height: 60px;
  border-radius: 15px;
  width: 31.6vw;
  text-align: center;
  font-size: 24px;
}

.right {
  align-items: right;
}

.profile {
  margin: 20px 25px 10px;
  height: 58vh;
  width: 20vw;
}

.submit {
  /* padding: 0px 0px 0px 270px; */
  text-align: center;
}

.signup-link {
  padding-top: 20px;
}

.form-type-title {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 25px;
  text-decoration-line: underline;

  color: #206A73;
}

.info-alert {
  height: 100px;
  /* padding-top: 10px; */
  border: 1px solid #006666;
  box-shadow: 0px 4px 4px #004C4C;
  border-radius: 10px;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #004C4C;
}

.info {
  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.edit-btn  {
  padding: 15px;
  margin-top: 15%;
  margin-left: 45%;
  font-family: 'Quantico', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 25px;
}

div.edit-password {
  background: #66B2B2;
  border-radius: 15px;
}

.profile-edit-line {
  padding-right: 1%;
  margin-bottom: -16px;
}

.edit-label {
  font-family: 'Quantico', sans-serif;
  width: 380px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 25px;
  display:inline-block;
  width: 24vw;
  text-align: left;
  margin-right: 32px;
  color: #004C4C;
}

.edit-bttn {
  left: 35%;
  position: relative;
}

.password-bttn {
  height: 81px;

  background: #66B2B2;
  border-radius: 25px;

  font-family: 'Quantico', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  
  color: #004C4C;
  border: 1px solid #004C4C;
}

.password-bttn:hover, .password-bttn:focus {
  background: #008080;
}

.hidden { 
  display:none;
  background: #66B2B2;
}

.alert {
  text-align: center;
  color: red;
  font-size: 24px;
  font-weight: bold;
  background: lightgrey;
  border-radius: 25px;
  line-height: 50px;
}